<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.UserMapper">

    <select id="selectById" resultType="test.User" >
        SELECT * FROM user
        <if test="id != null">
        where  id = #{id}
           <if test="id != null">
               AND 1=1
           </if>
        </if>
    </select>
</mapper>